.container {
    display: flex;
    justify-content: space-between;
}

.name {
    color: var(--color);
    font-weight: bold;
}

.selectable {
    cursor: pointer;
}

.selectable:hover {
    color: var(--color-link)
}