.imagecontainer {
    display: grid;
    place-items: center;
    margin: 2em;
}

.imagecontainer button {
    background-color: black;
    color: wheat;
    border-radius: 8px;
    padding: .3em .8em;
}

.image {
    max-height: 10em;
}

.strike {
    color: rgb(133, 133, 133);
    margin-right: .7em;
}

.category {
    padding: .5em;
    color: rgb(133, 133, 133);
}

.name {
    font-size: 1.5em;
    margin: 1em;
    font-weight: bold;
}

.button {
    background-color: black;
    color: antiquewhite;
    padding: .5em .8em;
    border-radius: 12px;
    margin: 1em 0;
}

.white_button {
    font-size: 1.1em;
    font-weight: bold;
    border: 0px;
    background-color: #fff;
    padding: .5em 1.5em;
    margin: 2em;
    box-shadow: 6px 4px 3px 0 #000;
    outline: 1px solid rgb(23, 23, 23);
}

.white_button:hover {
    cursor: pointer;
    outline: 1px solid rgb(66, 79, 200);
}