.strike {
    color: rgb(133, 133, 133);
    margin-right: .7em;
}

.category {
    padding: .5em;
    color: rgb(133, 133, 133);
}

.name {
    font-size: 1.5em;
    margin: 1em;
    font-weight: bold;
    text-align: center;
}

.description_text {
    padding: .5em;
}

.button {
    background-color: black;
    color: antiquewhite;
    padding: .5em .8em;
    border-radius: 12px;
    margin: 1em 0;
}

.white_button {
    font-size: 1.1em;
    font-weight: bold;
    border: 0px;
    background-color: #fff;
    padding: .5em 1.5em;
    margin: 2em;
    box-shadow: 6px 4px 3px 0 #000;
    outline: 1px solid rgb(23, 23, 23);
}

.white_button:hover {
    cursor: pointer;
    outline: 1px solid rgb(66, 79, 200);
}

.description {
    display: flex;
    flex-direction: column;
}

.imagecontainer {
    background-color: #fff;
    width: 100vw;
    height: 100vw;
}

.image {
    width: 100%;
    height: 100%;
}

.buttonscontainer {
    display: grid;
    position: absolute;
    align-items: center;
    align-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0 1em;
}

.button {
    border: 0;
    color: rgb(22, 22, 22);
    height: 2.5em;
    width: 2.5em;
    border-radius: 100%;
    padding: .3em .8em;
    background: hsla(0, 0%, 100%, .4);
    font-weight: bold;
    opacity: 1 !important;
    margin: 0 .3em !important;
    transition: all .5s;
    padding: .1em;
}

.buttonscontainer > div:last-child {
    display: flex;
    flex-direction: row-reverse;
}

.bigimagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    object-fit: scale-down;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(51, 51, 51, 0.902);
}

.bigimage {
    max-height: 100vh;
    max-width: 100vw;
}

@media only screen and (min-width: 768px) {
    .description { 
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .imagecontainer {
        background-color: #fff;
        width: 50vw;
        height: 50vw;
    }
    .buttonscontainer {
        width: 50vw;
    }
}