.subtitlecontainer {
    margin: 1em 0;
    padding-left: 1em;
    font-family:'Courier New', Courier, monospace;

}

.subtitle {
    font-size: 2em;
}

.amount {
    padding-left: .5em;
    color: rgb(133, 133, 133);
}

.empty {
    display: block;
    text-align: center;
    user-select: none;
    font-size: 1.2em;
    margin-top: 3em;
    margin-bottom: 8em;
}