.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user img {
    height: calc(var(--img-size) * .85);
    width: calc(var(--img-size) * .85);
    transition: transform 0.15s;
    user-select: none;
    z-index: -1;
}

.user {
    --img-size: 20px;
    border-radius: 100%;
    z-index: 60;
    cursor: pointer;
    user-select: none;
    transition: transform 0.15s;
}

@media only screen and (min-width: 360px) {
    .user { --img-size: 26px }
}

@media only screen and (min-width: 480px) {
    .user { --img-size: 30px }
}

@media only screen and (min-width: 768px) {
    .user { --img-size: 34px }
}

@media only screen and (min-width: 1024px) {
    .user { --img-size: 38px }
}