.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 1em;
    max-width: 80vw;
}

.title p {
    font-size: 1.5em;
    padding: 0 .5em;
    user-select: none;
}

.cross {
    cursor: pointer;
}

.subtotal {
    user-select: none;
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
}

.subtotal_nofees p {
    color: var(--color-gray);
}

.instructions {
  max-width: 75vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 1em .5em;
}

.sign_option {
    margin: 1em 0;
}

.sign_option_selected {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    user-select: none;
}

.input {
    margin-top: .1em;
    margin-bottom: .5em;
    padding: .15em .23em;
}

.submit {
    background-color: var(--article-buy-background-color);
    color: var(--color-article-buy);
    border-radius: 2em;
    margin-top: .7em;
    margin-bottom: 1em;
    text-align: center;
    padding: .4em .4em;
    cursor: pointer;
    font-size: .9em;
    font-family: 'Times New Roman', Times, serif;
}

.submit:hover {
  background-color: var(--article-buy-background-color-hover);
}

.back {
    margin-top: 1em;
}

.li {
    text-align: center;
}

@media only screen and (min-width: 360px) {
  .instructions {
    max-width: 15em;
  }
}

@media only screen and (min-width: 768px) {
  .submit {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}