.title {
    font-size: 1.2em;
    text-align: center;
}

.subtitle {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: .2em;
}

.label {
    margin-top: 1.5em;

}

.input {
    margin-top: .2em;
    padding: .15em;
}

.checkbox {
    display: flex;
    padding-left: 1em;
    margin-bottom: 1.5em;
    margin-top: .5em;
}

.checkbox > p {
    padding: 0 .5em;
}

.submit:hover {
    cursor: pointer;
    background-color: rgb(46, 45, 45);
}

.submit {
    margin-bottom: 1em;
    background-color: rgb(18, 18, 18);
    color: aliceblue;
    padding: .7em;
    border-radius: 32px;
    border: 0;
}

.google {
    border: 1px solid black;
    border-radius: 4px;
}

.key {
    height: 2em;
    padding-left: 6px;
}

.keytext {
    padding: 0 1em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.credentials {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    font-size: 14px;
    border-radius: 3px;
    margin: 1px;
    margin-bottom: 1em;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
}

.credentials:hover {
    cursor: pointer;
}

.warning {
    color: brown;
    text-align: center;
    margin: 1em .5em;
}