.attributes {
    display: flex;
    flex-direction: column;
    user-select: none;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.attribute {
    text-align: center;
    font-size: 1.3em;
    padding: .5rem;
}

.attribute:hover {
    color: blue;
    cursor: pointer;
}

.details {
    background-color: rgb(28, 28, 26);
    border: 1px black solid;
    border-radius: 14px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    min-width: 80vw;
}

.details_header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

.details p {
    color: whitesmoke;
    padding: 0 1em;
}

.attribute_detailed {
    font-size: 1.5em;
    text-align: center;
}

.add {
    margin: 1em;
    height: 2.5em
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em .25em;
}

.form input {
    max-width: 10em;
}

.form img {
    height: 2em;
    margin-left: 1em;
}

.form img:hover {
    cursor: pointer;
}

.form_create {
    flex-direction: column;
    background-color: rgb(152, 152, 145);
    border: 1px black solid;
    border-radius: 14px;
    padding: 1em 3em;
}

.form_create input {
    margin-bottom: 1em;
}

.cross {
    display: flex;
    flex-direction: row-reverse;
    height: 1.6em;
    margin: .5em .7em;
}
.cross img:hover {
    cursor: pointer;
}
.cross img {
    margin-left: .7em;
}

.value {
    padding: .4em;
    margin: .6em;
    font-size: 1.3em;
}

.value_disabled {
    padding: .4em;
    margin: .6em;
    font-size: 1.3em;
    color: #565454 !important;
    font-style: italic;
}


.inactive {
    color:rgb(88, 85, 81);
    font-size: 1.1em;
    font-weight: bold;
    border: 0px;
    background-color: #a7a3a3;
    padding: .5em 1.5em;
    margin: 1em;
    border: 2px inset rgb(173, 163, 163);
}

.inactive:hover {
    cursor: pointer;
    outline: 2px solid rgb(154, 158, 200);
}