.article {
    display: flex;
    flex-direction: row;
    padding: .5em;
    user-select: none;
}

.name {
    font-size: 1.1em;
}

.image {
    max-height: 7em;
    transition: transform .15s;
}

.image_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: .75em;
    cursor: pointer;
}

.image_container:hover .image {
    transform: scale(1.1);
}

.strike {
    margin-right: .6em;
    color: var(--color-striked)
}

.discount {
    color: var(--color-discount)
}

.price {
    color: var(--color-price)
}

.quantity * {
    color: var(--color-gray);
    padding-right: .6em;
}

.quantity {
    display: flex;
}

.remove {
    color: rgb(215, 23, 74);
    font-style: italic;
    cursor: pointer;
    margin-top: .7em;
}

.remove:hover {
    color: brown;
}

.attributes {
    padding: .4em 0;

}

.attributes p {
    padding: .075em 0;

}

.attributes span {
    color: var(--article-buy-background-color-hover);
    padding-left: .25em;
}