.box_container {
    display: flex;
}

.box_border {
    display: grid;
    border: 1px solid rgb(53, 49, 49);
    background-color: rgb(228, 233, 231);
    padding: .05em;
}

.box_unselected {
    background-color: rgb(53, 49, 49);
}

.box_selected {
    background-color: rgb(22, 37, 126);
}