.panel {
    display: grid;
    grid-template-rows: max-content 1fr min-content;
    min-height: 100vh;
}

.panelHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: .3em 0;
    align-items: center;
    background-color: aliceblue;
}

.panelHeader img {
    height: 3em;
    padding: 0 1em;
}

.panelContent {
    background-color: rgb(197, 188, 188);
    height: 100%;
}

.panelFooter {
    display: flex;
    padding: 1em 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 220, 220);
}

.back {
    height: 2em !important;
}