.articles {
    --img-width: 92vw;
    --img-height: calc(var(--img-width)*1.25);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    margin-bottom: 2em;
}

@media only screen and (min-width: 360px) {
    .articles {
        --img-width: 48vw;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 480px) {
    .articles {
        --img-width: 32vw;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 768px) {
    .articles {
        --img-width: 24vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    .articles {
    }
}

.nocontent {
    font-size: 1.5em;
    text-align: center;
    margin: 1.5em .5em;
}