.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    min-height: 100%;
    padding-bottom: 1em;
}

.button {
    font-size: 1.1em;
    font-weight: bold;
    border: 0px;
    background-color: #fff;
    padding: .5em 1.5em;
    margin-top: 2em;
    box-shadow: 6px 4px 3px 0 #000;
    outline: 1px solid rgb(23, 23, 23);
}

.button:hover {
    cursor: pointer;
    outline: 1px solid rgb(66, 79, 200);
}