.editor {
    min-width: 80%;
    background-color: black;
    padding: 1em;
}

.button {
    height: 2.5em;
    margin: .5em 1em;
}

.button:hover {
    cursor: pointer;
}

.input {
    margin: .8em 1em;
}

.input p {
    color: rgb(221, 216, 216);
}

.characteristics {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    padding: .5em 0em;
}

.characteristic {
    display: flex;
    flex-direction: row;
    color: rgb(221, 216, 216);
}

.characteristic {
    padding: .5em 1em;
}

.values {
    display: flex;
    flex-direction: column;
}

.value {
    color: rgb(221, 216, 216);
    padding: .5em;
}

.value:hover {
    color: rgb(82, 58, 218);
    cursor: pointer;
}

.selected {
    color:green !important;
}

.no_values {
    padding: .5em 0;
}