.article {
    display: flex;
    justify-content: space-between;
}

.variants {
    padding-left: 2rem;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: .5em;
    color: black;
}

.variant {
    padding: .5rem 1em;
}

.variant p {
    color: black;
}

.value {
    padding-left: 2rem;
    display: flex;
}

.attribute {
    font-weight: bold;
}

.div {
    display: flex;
    padding: .5rem 0;
    align-items: center;
}

.name {
    padding-top: 1em;
    padding-left: 1rem;
}

.title {
    padding-left: 2rem;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}

.text {
    padding-left: 1rem;
    color: black;
}

.disabled {
    display: grid;
    background-color: rgba(165, 42, 42, 0.402);
    width: 100%;
    position: absolute;
    place-content: center;
}

.disabled p {
    color:rgb(105, 4, 4);
    font-size: 1.5em;
    font-weight: bold;
    rotate: 350deg;
}

.image {
    display: grid;
    place-items: center;
    margin-right: 2em;
    margin-left: 1em;
}