.usermenu {
    position: absolute;
    right: 0;
    padding: 0 .8em;
    user-select: none;
    display: flex;
    flex-direction: column;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}