.categories {
    user-select: none; 
    background-color: antiquewhite;
    padding: .8em 1em;
    border-bottom: 1px solid black;
}

.categories p {
    color: black;
}

.category_container {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.category {
    display: flex;
    align-items: center;
}

.category img {
    height: 1.2em
}

.category img:hover {
    cursor: pointer;
}

.slug {
    font-size: 1.2em;
    padding: .1em .8em;
    margin: 0 .2em;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: normal;
    text-wrap: nowrap;
}

.add {
    height: 1.8em;
    padding-left: 2.3em;
    margin-top: .8em;
    display: flex;
    flex-direction: row;
}

.add img, .searching img {
    height: 1.8em;
}

.add img:hover, .searching img:hover {
    cursor: pointer;
}

.searching {
    margin-top: .5em;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
}

.accept {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1em;
}