.options {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(174, 174, 217);
}

.option {
    user-select: none;
    font-size: 1.2em;
    padding: .5em;
}

.selected {
    user-select: none;
    font-size: 1.3em;
    padding: .5em;
    font-weight: bold;
    color: blue;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptylist {
    user-select: none;
    flex-direction: column;
}

.instruction {
    font-size: 1.2em;
    margin: 1em;
}

.create-button, .delete-button {
    padding: .2em;
    border-radius: 8px;
    border: 1px solid blue;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
     color: rgba(255, 255, 255, 0.87);
}

.create-button:hover, .delete-button:hover {
  border-color: #646cff;
}
.create-button:focus, .delete-button:focus,
.create-button:focus-visible, .delete-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.delete-button {
    background-color: #3e0808;
    border: 1px solid rgb(82, 13, 28);
}

[type="file"] {
    color: transparent
}

/*@media (prefers-color-scheme: light) {
  .create-button {
    background-color: #f9f9f9;
  }
}*/

.creating-div {
    user-select: none;
    flex-direction: column;
    margin-top: 1em;
}

.gender-option {
    margin-top: 1em;
}

.input {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .25em;
}

.red {
    color: brown;
}

.text-center {
    align-self: center;
}