.header {
    height: var(--header-height);
}

.fixedHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:space-between;
    align-items: center;
    background-color: aliceblue;
    height: 3.5em;
    width: 100%;
    padding: 0 1em;
    position: fixed;
}

.cursor:hover {
    cursor: pointer;
}

.header__div > p {
    user-select: none;
    padding-left: .4em;
}

.search {
    margin-left: 1.3em;
}

.search > img {
    user-select: none;
    height: 1.5em
}

.shoppingcart:hover {
    cursor: pointer;
}

.shoppingcart {
    margin-left: .8em;
}

.shoppingcart > img {
    user-select: none;
    height: 1.8em
}

.logo > img {
    user-select: none;
    height: 3em;
}

@media only screen and (max-width: 768px) {
  .hidableText {
        display: none;
    }
}