.main {
    user-select: none;
    font-family: 'Lato', Arial, sans-serif;
}

.collection {
    padding: 1em 0;
}

.filters {
    padding: 1em 0;
}

.articles {
    padding-bottom: .5em;
}

.pages {
    padding-bottom: .5em;
}