.article {
    height: calc(var(--img-height) + 6em);
    background-color: rgb(230, 233, 237);
    border-radius: 4px;
    margin-top: .2rem;
    width: var(--img-width)
}

.article:hover {
    outline: 1px solid rgb(113, 113, 113);
}

.imgcontainer {
    display: grid;
    place-items: center;
    height: calc(var(--img-height));
    width: calc(var(--img-width));
    padding: .3em;
}

.image {
    object-fit:scale-down;
    border-radius: 16px;
    transition: opacity 0.3s ease;
    object-fit: contain;
    height: calc(var(--img-height) - (.3em*2));
    width: calc(var(--img-width) - (.3em*2));
}

.infocontainer {
    padding: .3em;
    background-color: rgb(230, 233, 237);
}

.name {
    max-width: 100%;
    font-weight: bold;
    margin: .2em 0;
    font-size: 1rem;
}

.price {
    color: rgb(21, 24, 21);
    font-size: .75em;
}

.new {
    color: brown;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.placeholderImg {
  width: 5em !important;
  height: 5em !important;
  object-fit: contain;
  object-position: center;
  opacity: 0.4;
}

.strike {
    color: rgb(133, 133, 133);
    margin-right: .7em;
}