#root {
  background-color: rgb(234, 194, 244);
  font-size: 12px; 
  --img-size: 45px;
  --header-height: 3.5em
}

@media only screen and (min-width: 360px) {
  #root { 
    font-size: 14px; 
    --img-size: 45px;
  }
}

@media only screen and (min-width: 480px) {
  #root { 
    font-size: 16px; 
    --img-size: 45px;
  }
}

@media only screen and (min-width: 768px) {
  #root { 
    font-size: 18px; 
    --img-size: 45px;
  }
}

@media only screen and (min-width: 1024px) {
  #root { 
    font-size: 20px; 
    --img-size: 45px;
  }
}

p {
  color: #242424;
  /* color: whitesmoke */
}

a {
  text-decoration: none;
}

.unselectable {
  user-select: none;
}

.cursor {
  cursor: pointer;
}

.crossed {
  text-decoration: dashed !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.disabled {
  display: none !important;
}