.header__background {
    position: fixed;
    height: var(--header-height);
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
}

.menu__background {
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - 3.5em);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.menu {
    background-color: var(--header-background-color);
    padding: 2em;
    max-width: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    height: calc(100vh - 3.5em);
}

.menu-left {
    animation: slideInLeft 0.35s ease forwards
}

.menu-right {
    animation: slideInRight 0.35s ease forwards;
    position: absolute;
    right: 0;
}

.menu__ul {
    list-style: none;
    user-select: none;
    font-size: 1.3em;
}

.menu__ul li {
    margin: .9em .3em;
}

.menu li *, .menu li {
    text-transform:capitalize;
}

.menu li *:hover, .menu li:hover {
    color: var(--color-link)
}

.menu li:hover {
    cursor: pointer;
}

.category {
    font-family: 'Courier New', Courier, monospace;
    font-size: .85em;
    padding-left: .9em;
    margin: .6em .3em !important;
}